<!DOCTYPE html>
<html>
<head>
<style>

* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 10%;
}
.content {
    width: 75%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 4px;
    margin-bottom: 4px;
    background-color: #33b5e5;
    color: #ffffff;
}
.menu li:hover {
    background-color: #0099cc;
}
</style>
</head>
<style>
body {
    background-color: lightyellow;
}
</style>
<body>

<div class="header">
  <h1>บทเพลงพระราชนิพนธ์</h1>
</div>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>
<ul>
<li><a href='kingsong3'>Kingsong 3</a></li>
<li><a href='kingsong2'>Kingsong 2</a></li>
<li><a href='kingsong1'>Kingsong 1</a></li>
 <li><a class="active" href="home">Home</a></li>
  
  
  
</ul>

</body>
</html>

<div class="clearfix">
  <div class="column menu">
    <ul>
      
    </ul>
  </div>
 
  <div class="column content">
  <center>
    <h1><center>ประวัติเพลงพระราชนิพนธ์</center></h1>
    <img src = "http://www.bki.ictbk.net/new/UserFiles/Image/king.jpg " width="700" height="750" border="1">
    
    
    <p>เพลงพระราชนิพนธ์ พระบาทสมเด็จพระปรมินทรมหาภูมิพลอดุลยเดช มีพระราชปรีชาญาณในเรื่องของดนตรี ทรงพระราชนิพนธ์ทำนองเพลงตั้งแต่ยังทรงเป็นสมเด็จพระอนุชาธิราช รวมบทเพลงพระราชนิพนธ์ทั้งสิ้น 48 เพลง เพลงที่ทรงพระราชนิพนธ์ทำนอง และคำร้องภาษาอังกฤษด้วยพระองค์เอง มี 5 เพลง คือ "Echo", "Still on My Mind", "Old-Fashioned Melody", "No Moon" และ "Dream Island" นอกจากนี้ มีเพลงที่ทรงพระราชนิพนธ์ทำนองขึ้นภายหลังใส่ในคำร้องที่มีผู้ประพันธ์ไว้แล้ว คือ ความฝันอันสูงสุด เราสู้ และ รัก

ผู้ที่โปรดเกล้าฯ ให้แต่งคำร้องประกอบเพลงพระราชนิพนธ์มีหลายท่าน ได้แก่ พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ จักรพันธุ์, ศาสตราจารย์ ท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา, ศาสตราจารย์ ดร.ประเสริฐ ณ นคร, ท่านผู้หญิงสมโรจน์ สวัสดิกุล ณ อยุธยา, นายจำนงราชกิจ (จรัล บุณยรัตพันธุ์), ม.ร.ว.เสนีย์ ปราโมช ม.ล.ประพันธ์สนิทวงศ์ และท่านผู้หญิงมณีรัตน์ บุนนาค เป็นต้น

ในยุคแรก หลังจากที่เพลงพระราชนิพนธ์มีทำนองและคำร้องสมบูรณ์แล้ว จะทรงพระกรุณาโปรดเกล้าฯให้ครูเอื้อ สุนทรสนาน นำไปบรรเลงในวงดนตรีกรมโฆษณาการหรือวงกรมประชาสัมพันธ์ เพื่อให้แพร่หลายทั่วไป และโดยพระองค์ท่านเองทรงดนตรีร่วมกับวงดนตรี วง อ.ส. วันศุกร์ ออกอากาศ ปรากฏว่าหลายเพลงกลายเป็นเพลงยอดนิยมทั้งในหมู่ชาวไทยและชาวต่างประเทศ

ในระยะหลังพระองค์มีพระราชกรณียกิจมากมาย ทำให้พระองค์ทรงไม่มีเวลาที่จะทรงพระราชนิพนธ์เพลงใหม่ๆออกมา เพลงสุดท้ายที่พระองค์ทรงพระราชนิพนธ์ออกมาคือเพลง "เมนูไข่" เป็นเพลงแนวสนุกสนาน เนื้อร้องโดยสมเด็จพระเทพรัตนราชสุดาฯ สยามบรมราชกุมารี พระราชทานเป็นของขวัญวันพระราชสมภพครบ 72 พรรษาแด่ สมเด็จพระเจ้าพี่นางเธอ เจ้าฟ้ากัลยาณิวัฒนา กรมหลวงนราธิวาส ราชนครินทร์ เมื่อ พ.ศ. 2538</p>
    
  



 
</center>



  </div>
</div>

<div class="footer">
  
</div>

</body>
</html>
