<!DOCTYPE html>
<html>
<head>
<style>

* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 10%;
}
.content {
    width: 75%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}
.menu li:hover {
    background-color: #0099cc;
}
</style>
</head>
<style>
body {
    background-color: lightyellow;
}
</style>
<body>

<div class="header">
  <h1>บทเพลงพระราชนิพนธ์</h1>
</div>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>
<ul>
<li><a href='kingsong3'>Kingsong 3</a></li>
<li><a href='kingsong2'>Kingsong 2</a></li>
<li><a href='kingsong1'>Kingsong 1</a></li>
 <li><a class="active" href='home'>Home</a></li>
  
  
  
</ul>

</body>
</html>
<div class="clearfix">
  <div class="column menu">
    <ul>
      
    </ul>
  </div>
 
  <div class="column content">
  <center>
    <h1><center> <U>พรปีใหม่</U></center></h1>
    <p>ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช
<br>คำร้อง: พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ</p>
<A>---------------------------------------------------</A>
<p></p>
   <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspสวัสดีวันปีใหม่พา&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้บรรดาเราท่านรื่นรมย์
<br>ฤกษ์ยามดีเปรมปรีดิ์ชื่นชม&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspต่างสุขสมนิยมยินดี
<p></p>
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspข้าวิงวอนขอพรจากฟ้า&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้บรรดาปวงท่านสุขศรี
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspโปรดประทานพรโดยปรานี&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้ชาวไทยล้วนมีโชคชัย
<p></p>
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้บรรดาปวงท่านสุขสันต์&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspทุกวันทุกคืนชื่นชมให้สมฤทัย
<br>&nbsp&nbsp&nbsp&nbspให้รุ่งเรืองในวันปีใหม่&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspผองชาวไทยจงสวัสดี
<p></p>
<br>&nbsp&nbsp&nbspตลอดปีจงมีสุขใจ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspตลอดไปนับแต่บัดนี้
<br>&nbsp&nbsp&nbspให้สิ้นทุกข์สุขเกษมเปรมปรีดิ์&nbsp&nbsp&nbsp&nbsp&nbsp&nbspสวัสดีวันปีใหม่เทอญ 
<p></p>
<A>---------------------------------------------------</A>
<p></p>



<img src = "http://i.imgur.com/bVWo3qw.png " width="600" height="300" border="1">
</center>
  </div>
</div>

<div class="footer">
  
</div>

</body>
</html>
<!DOCTYPE html>
<html>
<head>
<style>

* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}
.column {
    float: left;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 10%;
}
.content {
    width: 75%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}
.menu li:hover {
    background-color: #0099cc;
}
</style>
</head>
<style>
body {
    background-color: lightyellow;
}
</style>
<body>

<div class="header">
  <h1>บทเพลงพระราชนิพนธ์</h1>
</div>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>
<ul>
<li><a href='kingsong3'>Kingsong 3</a></li>
<li><a href='kingsong2'>Kingsong 2</a></li>
<li><a href='kingsong1'>Kingsong 1</a></li>
 <li><a class="active" href='http://localhost:3000'>Home</a></li>
  
  
  
</ul>

</body>
</html>
<div class="clearfix">
  <div class="column menu">
    <ul>
      
    </ul>
  </div>
 
  <div class="column content">
  <center>
    <h1><center> <U>พรปีใหม่</U></center></h1>
    <p>ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช
<br>คำร้อง: พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ</p>
<A>---------------------------------------------------</A>
<p></p>
   <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspสวัสดีวันปีใหม่พา&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้บรรดาเราท่านรื่นรมย์
<br>ฤกษ์ยามดีเปรมปรีดิ์ชื่นชม&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspต่างสุขสมนิยมยินดี
<p></p>
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspข้าวิงวอนขอพรจากฟ้า&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้บรรดาปวงท่านสุขศรี
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspโปรดประทานพรโดยปรานี&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้ชาวไทยล้วนมีโชคชัย
<p></p>
<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspให้บรรดาปวงท่านสุขสันต์&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspทุกวันทุกคืนชื่นชมให้สมฤทัย
<br>&nbsp&nbsp&nbsp&nbspให้รุ่งเรืองในวันปีใหม่&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspผองชาวไทยจงสวัสดี
<p></p>
<br>&nbsp&nbsp&nbspตลอดปีจงมีสุขใจ&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspตลอดไปนับแต่บัดนี้
<br>&nbsp&nbsp&nbspให้สิ้นทุกข์สุขเกษมเปรมปรีดิ์&nbsp&nbsp&nbsp&nbsp&nbsp&nbspสวัสดีวันปีใหม่เทอญ 
<p></p>
<A>---------------------------------------------------</A>
<p></p>



<img src = "http://i.imgur.com/bVWo3qw.png " width="600" height="300" border="1">
</center>
  </div>
</div>

<div class="footer">
  
</div>

</body>
</html>
